body{
    background-color: rgb(182, 201, 251);
}
h1{
    position: absolute;
    top: 20%;
    left: 43%;
   
}
.from{
    border: 1px solid;
    width: 40%;
    height: 60%;
    position: relative;
    margin-top: 15%;
}
label{
    font-size: x-large;
}
@import url(https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap);
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap';
* {
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 2;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Yanone Kaffeesatz', sans-serif;
letter-spacing: 1.5px;
}
.contenedor{
    margin: auto;
    width: 98%;
}
.section__titulo{
    text-align: center;
    font-size: 40px;
    color: #bd0000;
}
.header {
    height: 60px;
}
.header .contenedor{
    display: flex;
}
.logo, .icon-menu{
    margin: 5px;
    color: #fff;
}
icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #bd0000;
 
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}
.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link{
display: block;
padding: 15px;
background:   #bd0000;
text-decoration: none;
color: #fff;
}
.menu__link:hover, .select{
    background: white;
    color:   #bd0000;
}
.mostrar{
    left: 0;
}
.banner{
    margin-top:-60px ;
    position: relative;
    z-index: -1000;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color:#fff;
    text-align: center;
}
.banner__txt{
    display: none;
}
.info__columna{
    background:#bd0000 ;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
}

/*.producto___columna{
    position: relative;
    margin-bottom: 30px;
}
.producto__descripcion{
position: absolute;
top: 0;
left: 0;
color: #fff;
background: rgba(0, 0, 0, 0.5);
width: 60%;
height: 100%;
padding: 5px;
}
.producto__titulo{
    font-size:25px ;
margin:5px 0;
}
*/
.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer .social[class^="btn-"]{
    color: #fff;
    text-decoration: none;
    font-size:30px ;
    padding: 10px;
    background: white;
    border-radius:50% ;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
@media(min-width:480px){
    .logo{
        font-size: 30px;
    }
    .banner__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt{
        display: block;
        font-size: 30px;
        margin: 7px 0;
    }
    .info{
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .producto__columna{
        width: 435px;
        display: flex;
        justify-content: space-between;
        margin-top: -20px;
    }
    .producto__titulo{
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titulo{
        width: 100%;
    }
    .producto{
        flex-wrap: wrap;
        margin-top: 0;
    }
   .info__columna{
       width: 475px;
   }
   .footer{
       margin: 0 10px;
   }
}
@media(min-width:768px){
    
    
    .banner__titulo{
        font-size: 50px;
    }
    

}
@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
    .section__titulo{
        font-size: 60px;
        margin: 30px 0;
    }
    .nav{
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .select{
        color: #fff;
        background: none;
    }
    .banner__titulo{
        font-size: 60px;
    }
    .banner__txt{
        font-size: 30px;
    }
    .info{
        margin-top: -120px;
    }
    .info__columna{
        padding: 30px;
    }
    .info__titulo{
        font-size: 50px;
        text-align: center;
    }
    .info__txt{
        font-size: 20px;
    }
}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
    .banner .contenedor{
        top: 40%;
    }
    .info{
        margin-top: -200px;
    }
}